* {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
  /* overflow: auto; */
}
body {
  height: 100%;
}

@font-face {
  font-family: "TTCrownMychewR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "한수원";
  src: url("../src/assets/font/한수원_한울림_R.ttf");
}

@font-face {
  font-family: "김포평화";
  src: url("../src/assets/font/김포평화고딕.ttf");
}
/* *::-webkit-scrollbar {
  display: inline;
} */

/* .app-wrap {
  position: relative;
  padding: 30px;
  font-size: 18px;
  line-height: 1.6;
  background: lightgray;
} */

.topBtn {
  position: fixed;
  opacity: 0;
  bottom: 40px;
  right: 40px;
  z-index: -10;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 0 none;
  background: lightpink;
  color: blueviolet;
  border: 2px solid blueviolet;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.06em;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.topBtn.active {
  z-index: 10;
  opacity: 1;
}

.topBtn:hover,
.topBtn:focus,
.topBtn:active {
  outline: 0 none;
}
