  version: "3.8"
  services:
      nginx: 
        container_name: "nginx_jh"
        image: nginx:1.15-alpine
        restart: always
        ports:
        - 80:80
        - 443:443
        volumes:
        - ./data/nginx/conf.d:/etc/nginx/conf.d
        - ./data/certbot/conf:/etc/letsencrypt
        - ./data/certbot/www:/var/www/certbot
                
      certbot:
        container_name: "certbot_jh"
        image: certbot/certbot:v0.36.0
        restart: always
        volumes:
         - ./data/certbot/conf:/etc/letsencrypt
         - ./data/certbot/www:/var/www/certbot
