#list-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.market-img {
  width: 100%;
  /* top: 50%; */
  left: 0%;
  max-width: 1516px;
  height: 800px;
  background: #385591;
}
