.wrap {
    max-width: 450px;
    padding: 20px;
}
.autonft {
    display: flex;
    align-items: center;
}
.items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
}
.items-wrap:before,
.items-wrap:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
.items-wrap:before {
    left: 0;
    background: linear-gradient(
        90deg,
        rgb(
                1,
                5,
                28
            )
            0%,
        rgba(
                255,
                255,
                255,
                0
            )
            100%
    );
}
.items-wrap:after {
    right: 0;
    background: linear-gradient(
        90deg,
        rgba(
                255,
                255,
                255,
                0
            )
            0%,
        rgb(
                1,
                5,
                28
            )
            100%
    );
}
.items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
}
.item {
    background: #ccc;
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    counter-increment: item;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;
    transition: all
        0.1s
        ease-in-out;
}
.item:hover {
    transform: scale(
        1.05
    );
    box-shadow: 0 0
        10px
        rgba(
            0,
            0,
            0,
            0.5
        );
}

.item:before {
    content: counter(
        item
    );
}

.marquee {
    animation: scroll
        20s linear
        infinite;
}
.reverce {
    animation-direction: reverse;
}
.items-wrap:hover
    .marquee {
    animation-play-state: paused;
}

.perfscan {
    margin: 20px 0;
    text-align: center;
    bottom: 0;
    background: #fff;
    padding: 5px;
}
.perfscan hr {
    border: solid
        #999;
    border-width: 1px
        0 0 0;
    max-width: 50%;
}
.perfscan a {
    color: #000;
    font-weight: bold;
}

@keyframes scroll {
    from {
        transform: translateX(
            0
        );
    }
    to {
        transform: translateX(
            calc(
                -100% -
                    20px
            )
        );
    }
}
