.mint-div {
  display: flex;
  justify-content: center;
}
.animal-nft {
  margin-bottom: 300px;
}

.animal-data-title {
  color: #181818;
  font-family: "Black Han Sans", sans-serif;
  font-size: 44px;
  margin-top: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.animal-card {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-gap: 1rem;
  max-width: 1200px;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .animal-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .animal-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
.animal-card-detail {
  margin: 35px;

  max-width: 300px;
  max-height: 300px;
  border-radius: 100%;
  font-family: "Black Han Sans", sans-serif;
  color: #1a1a1a;
  font-size: 30px;
}

.animal-card-img {
  max-width: 300px;
  margin-bottom: 20px;
}
