/* .TradeSlider html,
.TradeSlider body {
  background-color: #e74c3c;
} */
.wrapper {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
h2 {
  font-family: sans-serif;
  color: #fff;
}
.carousel {
  width: 90%;
  margin: 0px auto;
}
.slick-slide {
  margin: 10px;
}
.slick-slide img {
  width: 100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size: 20px;
  color: white;
}
